#col1{
    background-color: blue;
    height: 1000px;
    color: white;
    font-family: sans-serif;
}
#web{
    font-size: 28px;
    font-family: sans-serif;
}
#info{
    font-size: 30px;
    
    margin-left: 2px;
}
#adders{
    color: white;
    font-size: 20px;

}
#area{
    color: azure;
    font-size: 12px;
    font-size: 20px;
}
#phone{
   font-size: 24px;
}
#num{
    font-size: 20px;
}
#eml{
    font-size:30px;
    font-family: sans-serif;
    
}
#id{
    font-size: 20px;
}
#link{
    font-size: 30px;
    
}
#com{
    font-size: 20px;
}
#skl1{
    font-size: 30px;
    
}
#skl{
    font-size:20px;
}
#lan{
    font-size:30px;
    
}
#lan1{
    font-size:20px;
}
#co{
    font-size:30px;
}
#co1{
    font-size:20px;
}
#ed{
    font-size:30px;
}
#ed1{
    font-size:20px;
}
#ed2{
    font-size:20px;
}
#ed3{
    font-size:20px;
}
#dcl{
    font-size:30px;
}
#dcl1{
    font-size:20px;
}